.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 7vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(238, 237, 237);
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.content {
  padding: 0px 30px 10px 30px;
}

.message {
  margin-bottom: 20px;
  font: inherit;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.btn {
  font: inherit;
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
  padding: 0.3rem 1.5rem;
  border-radius: 20px;
  font-weight: bold;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn:hover,
.btn:active {
  background-color: #641e03;
  border-color: #641e03;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
